# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment folder
venv/

# Ignore the Django settings file
*.pyc
*.pyo
local_settings.py

# Ignore database files
db.sqlite3

# Ignore static files
static/

# Ignore media files
media/

# Ignore secret key
*.secret_key

# Ignore development settings
*.development

# Ignore system files
.DS_Store

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore backup and temporary files
*.bak
*.swp
*~

# Ignore migration files
/migrations/

.venv